
.main--contactos__section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    column-gap: 20px;
    
}
.main--contcto__from{
    width: 1000px;
    height: 400px;
    display: grid;
}
